<div class="info-container">
  <form class="search-form">
    <span class="icon icon-location"></span>
    <input type="search" placeholder="Search for your City" id="location">
  </form>
  <h1 class="pagetitle"></h1>

  <div class="meetups-list">
  </div>
</div>

<div class="map-box" id="map">
</div>
