<div class="info-container">
  <h1 class="pagetitle">Nearby Developer Meetups</h1>
  <form class="search-form">
    <input type="search" placeholder="Enter a City" id="location">
  </form>

  <div class="meetups-list">
  </div>
</div>

<div id="map">
</div>
