Showing <span class="count"><%= showing_count %></span> of <span class="total_count"><%= meta.total_count %></span> results
<% if (meta.has_more) { %>
&mdash;
<a href="#" class="load-more-results">Load more&hellip;</a>
<% } %>
